
$color-primary: #f1f1f1;
$color-back: #212121;
$color-accent: #c8f26d;

$logo: url('../img/logo.svg');
$signature: url('../img/signature.svg');
$seal: url('../img/seal.svg');
$stars: url('../img/stars.svg');

@import "font-awesome/scss/font-awesome";
@import "font-awesome/scss/_variables";

@mixin text {
  font-family: 'Roboto', sans-serif;
  // font-family: 'Abel', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 0.3px;
}

body {
  margin: auto;
  padding: 0;
  max-width: 99%;
  background-color: $color-back;
  color: $color-primary;
  // font-family: 'Slabo 27px', serif;
  font-family: 'Roboto', sans-serif;

  // font-family: 'Lato', sans-serif;
  // font-family: 'Muli', sans-serif;

  // font-family: 'Nunito', sans-serif;

  p {
      @include text;
      
  }

  h1 {
    font-size: 1.7rem;
    // font-weight: bold;
    letter-spacing: 0.9px;
  }

  h2 {
    color: $color-accent;
    font-size: 1.7rem;
    // font-weight: bold;
    text-align: center;
    letter-spacing: 0.9px;
    margin: 80px 0;
  }

  h3 {
    color: $color-accent;
    font-size: 1.2rem;
    font-weight: normal;
    // letter-spacing: 0.3px;
    text-align: center;
    margin: 60px auto;
  }

  h4 {
    // font-weight: bold;
    color: $color-accent;
    font-size: 0.95rem;
    letter-spacing: 0.9px;
  }

  h5 {
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.3px;
  }

  section{
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  a {
    cursor: pointer;
  }

}

.btn {
  width: 250px;
  // margin: 50px auto;
  border: 1px solid $color-accent;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.1s ease-in;
}

.btn-icon {
  width: 40px;
  margin: 20px auto;
  font-size: 24px;
  color: $color-primary;
  background-color: rgba(0,0,0,0);
  outline: 0;
  border: 0;
}



/* FLEX */

  .col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .wrap {
     -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  @mixin f-size($n){

    -webkit-box-flex: $n;
    -moz-box-flex: $n;
    width: ($n * 20%);
    -webkit-flex: $n;
    -ms-flex: $n;
    flex: $n;
  }

  @mixin f-order($n){

    -webkit-box-ordinal-group: $n;
    -moz-box-ordinal-group: $n;
    -ms-flex-order: $n;
    -webkit-order: $n;
    order: $n;
  }
  
  // flex-start | flex-end | center | space-between | space-around | stretch
  @mixin f-alignvert($pos){
    -webkit-box-align: $pos;
       -ms-flex-align: $pos;
          align-items: $pos;
  }
  
  @mixin f-alignhorz($pos){

    // -ms-flex-line-pack: $pos;
         // align-content: $pos;
      -webkit-box-pack: $pos;
         -ms-flex-pack: $pos;
       justify-content: $pos;
  }

/* LANDING */
  
  #landing {

    // border: 1px solid red;

    @include f-alignvert(center);
    // @include f-alignhorz(center);
    
    text-align: center;
    background-image: $stars;
    background-color: $color-back;
    background-size: 1300px;
    background-position: top center;
    background-repeat: repeat-y;


    #hireBtn {
      width: 300px;
      margin: 40px auto;
      color: $color-primary;
      border-color: $color-accent;
      background-color: $color-back;
    }

    #hireBtn:hover {

      padding: 10px 26px;
      letter-spacing: 1px;
      color: $color-back;
      background-color: $color-accent;
    }

    #logotop{
      width: 70px;
      height: 88px;
      background-image: $logo;
      margin: 100px auto 80px auto;
    }

    #typetext {
      margin: 0 0 60px 0;
    }

  }
  
/* SKILLS */

  #skills {

    // border: 1px solid blue;
    
    @include f-alignhorz(center);
    @include f-alignvert(center);

    padding-top: 20px;

    h3 {
      margin-bottom: 40px;
      font-weight: normal;
    }

    .skillpair {

      @include f-alignhorz(space-around);
      max-width: 1200px;

    }

    .card {
      
      // border: 1px solid orange;
      
      @include f-size(5);
      @include f-alignhorz(center);
      max-width: 400px;
      min-width: 300px;
      padding: 20px;
      background-color: $color-back;
      text-align: center;
      align-items: center;
      align-content: center;
      justify-content: center;

      i {
        font-size: 40px;
        color: $color-accent;
      }
    }

  }

/* PROJECTS */

  #projects {

    // border: 1px solid blue;
  
    @include f-alignvert(center);
    @include f-alignhorz(center);

    .project {

      // border: 1px solid green; 
      
      @include f-alignvert(center);
      @include f-alignhorz(center);
      text-align: center;

      h4 { 
        margin-bottom: 0; 
      }

      h5 {
        margin: 15px 0;
        color: $color-accent;
      }

      .project-info{

        // border: 1px solid red; 
        
        @include f-order(1);
        @include f-size(2);
        @include f-alignvert(center);
        @include f-alignhorz(center);

        max-width: 600px;
        min-width: 360px;

        ul {

          @include text;
          margin: 0;
          list-style: none;
          text-align: left;

          li {

            font-size: 0.9rem;
            line-height: 18px;
            margin-bottom: 11px;
          }
        }

      }

      .project-img {
        
        // border: 1px solid white; 
        
        max-width: 500px;
        min-width: 370px;
        @include f-order(2);
        @include f-size(1);
        @include f-alignhorz(center);
        @include f-alignvert(center);
      }

      #pledgeit_gif{
        height: 350px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('../img/gif/pledgeitGIF.gif');
      }
      
      #bombergames_gif{
        height: 350px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('../img/gif/BomberGames.gif');
      }

      #netpods_gif {
        height: 350px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url('../img/gif/netpodsGIF.gif');
      }

    }
    
  }

/* PORTFOLIO */

  #portfolio {
    border: 1px solid blue;
  }

/* ACTIONCALL */

  #actioncall {
    
    color: $color-back;
    background-color: $color-accent;
    text-align: center;
    padding: 40px;
    @include f-alignhorz(center);
    @include f-alignvert(center);

    h3 { 
      color: $color-back;
      font-weight: normal;
      margin-top: 0px;
    }
    
    #contactBtn {

      width: 250px;
      border-radius: 50px;
      cursor: pointer;
      margin-bottom: 20px;

      color: $color-primary;
      border-color: $color-back;
      background-color: $color-back;
      
      transition: all 0.1s ease-in;
    }

    #contactBtn:hover,
    #contactBtn:active,
    #contactBtn:focus {
      color: $color-back;
      background-color: $color-primary;
      border-color: $color-primary;
    }

    button:hover, button:focus, button:active {
      outline: none;
      padding: 10px 26px;
      letter-spacing: 1px;
      color: $color-back;
      background-color: $color-primary;
      border-color: $color-primary;
    }

    #dot {
      border: 1px solid red;
      transform: translateY(60px);
      background-color: $color-primary;
      width: 5px;
      height: 5px;
      margin: 0 auto;
      border-radius: 25px;
      transition: all 1s ease;
    }

  }

/* FOOTER */

  #footer {
    
    @include f-alignvert(center);
    @include f-alignhorz(center);
    text-align: center;
    color: #666;
    padding: 60px 0;
    // font-size: 0.5rem;
    
    p {
      font-size: 0.8rem;
      margin: 5px auto;
    }

    a { 

      color: #666;
      text-decoration: none;
      margin: 0 3px;
      padding: 0;

      i { 
        color: $color-primary; 
        font-size: 1.2rem;
      }
    }

    a:hover, a:focus, a:active {

      color: $color-primary;
      i { 
        color: $color-accent; 
      }
    }

    #signseal {
      
      @include f-alignhorz(space-around);
      @include f-alignvert(center);
      min-width: 300px;
      margin-bottom: 10px;

      #signature {

        background-image: $signature;
        background-repeat: no-repeat;
        min-width: 200px;
        min-height: 50px;
      }

      #seal {
    
        background-image: $seal;
        background-repeat: no-repeat;
        min-height: 70px;
        min-width: 70px;
      }
    }      

  }



 // Bootstrap primarily uses the following media query ranges — or breakpoints — in our source Sass files for our layout, grid system, and components.

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  
 }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }



// Since we write our source CSS in Sass, 
// all our media queries are available via Sass mixins:

// @include media-breakpoint-up(xs) { ... }
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { 

// }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }

// Example usage:
// @include media-breakpoint-up(sm) {
//   .some-class {
//     display: block;
//   }
// }














